<!-- <button class="btn btn-primary" (click)="getLocation()">Get Geo Location</button> -->

<div class="container">
  <table class="table">
    <th class="thread-dark">
      <tr>
        <th>{{currentWeather.name}}</th>
        <th>Now</th>
        <th>{{currentTime + (3600000*3) | date: 'shortTime'}}</th>
        <th>{{currentTime + (3600000*9) | date: 'shortTime'}}</th>
        <th>{{currentTime + (3600000*15) | date: 'shortTime'}}</th>
        <th>{{currentTime + (3600000*24) | date: 'MMM d'}}</th>
        <th>{{currentTime + (3600000*48) | date: 'MMM d'}}</th>
        <th>{{currentTime + (3600000*72) | date: 'MMM d'}}</th>
        <th>{{currentTime + (3600000*96) | date: 'MMM d'}}</th>
        <th>{{currentTime + (3600000*120) | date: 'MMM d'}}</th>
      </tr>
      <tr id="weatherIcons">
        <td></td>
        <td class="weatherIcons">
          <app-weather-table-switch-now></app-weather-table-switch-now>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-three-hrs></app-weather-table-switch-three-hrs>
        </td>
        <td class="weatherIcons">
            <app-weather-table-switch-nine-hrs></app-weather-table-switch-nine-hrs>
          </td>
        <td class="weatherIcons">
          <app-weather-table-switch-fifteen-hrs></app-weather-table-switch-fifteen-hrs>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-day2></app-weather-table-switch-day2>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-day3></app-weather-table-switch-day3>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-day4></app-weather-table-switch-day4>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-day5></app-weather-table-switch-day5>
        </td>
        <td class="weatherIcons">
          <app-weather-table-switch-day6></app-weather-table-switch-day6>
        </td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td>{{currentWeather.main.temp -273.15 | number:'1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[1].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[3].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[5].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[7].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[15].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[23].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[31].main.temp - 273.15 | number: '1.0-0'}}°C</td>
        <td>{{fiveDayForecast.list[36].main.temp - 273.15 | number: '1.0-0'}}°C</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td>{{currentWeather.main.humidity}}%</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>Air Pressure</td>
        <td>{{currentWeather.main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[1].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[3].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[5].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[7].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[15].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[23].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[31].main.pressure | number: '1.0-0'}} mb</td>
        <td>{{fiveDayForecast.list[36].main.pressure | number: '1.0-0'}} mb</td>
      </tr>
      <tr>
        <td>Wind Speed</td>
        <td>{{currentWeather.wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[1].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[3].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[5].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[7].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[15].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[23].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[31].wind.speed}} km/h</td>
        <td>{{fiveDayForecast.list[36].wind.speed}} km/h</td>
      </tr>
      <tr>
        <td>Wind Direction</td>
        <td>{{currentWeather.wind.deg}}°</td>
        <td>{{fiveDayForecast.list[1].wind.deg | number: '1.0-0' }}° 
          <span> 
            <img width="10rem" src="../assets/icons/winds/0deg.svg" alt="">
          </span>
        </td>
        <td>{{fiveDayForecast.list[3].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[5].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[7].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[15].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[23].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[31].wind.deg | number: '1.0-0'}}°</td>
        <td>{{fiveDayForecast.list[36].wind.deg | number: '1.0-0'}}°</td>
      </tr>
    </th>
  </table>
</div>